body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  padding: 20px;
  background: #f4f4f4;
}

article {
  background: #fff;
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

article header h1 {
  margin: 0;
  color: #333;
}

.author,
time {
  font-style: italic;
  font-size: 0.9em;
}

figure {
  margin: 0;
  padding: 0;
}

figure img {
  max-width: 100%;
  height: auto;
}

figcaption {
  font-size: 0.8em;
  text-align: center;
}

.content p {
  margin: 20px 0;
  text-align: justify;
}
